{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_company %}

{% block style %}
.company_name {
  line-height: 1.5;
  min-height: 72px;
}
{% endblock %}

{% block title %}公司{% endblock %}


{% block body %}
    <div class="jumbotron">
        <h1>最新公司</h1>
        <p>找工作就上JOBPLUS</p>
    </div>


    <div class="company-list">
    {% for company in pagination.items %}
        {{ render_company(company) }}
    {% endfor %}
    </div>

    {{ render_pagination(pagination, 'company.index') }}
{% endblock %}

